html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Cuprum', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


.grid {position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: deepskyblue;}

.row {display: flex; flex-wrap: wrap; height: 100%; width: 100%;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%; position: relative;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1 {
  text-align: center;
  color: #348017;
}

.sidepanel {
  position: relative;
  z-index: 1;
  height: 40%;
  resize: none;
}

@media only screen and (max-width: 1000px) {
    .col-2 {
      display: none;
    }
    .sidepanel {
      display: none;
    }
}

@media only screen and (max-height: 360px) {
    .col-2 {
      display: none;
    }
    .sidepanel {
      display: none;
    }
}

@media only screen and (max-height: 530px) {
    .list {
      display: none;
    }
}

#map {
  position: absolute;
  left: 16.66%;
  top: 0px;
  width: inherit;
  height: 100%;
}

.rect1 {
  width: 75%;
  height: 60%;
  background: #17DA5B;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: auto;
}

.rect2 {
  width: 75%;
  height: 60%;
  background: #7E0F5A;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: auto;
}

.rect3 {
  width: 75%;
  height: 60%;
  background: #D96C06;
  position: absolute;
  left: 0;
  bottom: 0px;
  margin: auto;
}
