html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidepanel {
  height: 100%;
  width: 15%;
  resize: none;
  float: left;
  margin-right: -15%;
  color: blue;
}

#map {
  height: 100%;
  width: 100%;
  float: right;
}

#sidepanel + #map {
  margin-right: 0px;
}
