<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Live View - Login</title>
  <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="../static/css/styles.css"/> <!-- custom styles -->
  <link type="image/ico" rel="icon" href="../static/favicon.ico"/>
  <script type=text/javascript src="../static/jquery-3.0.0.min.js"></script>
</head>

<body>
  <div class="grid">
    <div class="row">
		<div class="col-12" id="invisrect">
			<div id=content>
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<div class="rect4">
			<div class="rect5">
				<div class="rect6">
				</div>
			</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
