<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Live View</title>
  <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="../static/css/styles.css"/> <!-- custom styles -->
</head>

<body>
  <div class="grid">
    <div class="row">
      <div class="col-2">
        <p>
          <div class="sidepanel">
            <h1>Live View</h1>
          </div>
        <p>
      </div>
      <div class="col-10">
        <div id="map"></div>
        {% block mapscripts %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>
