{% extends "base.html" %}

{% block mapscripts %}
  <script name="map_init"> // this is the script for the map
    var map;
    var gmarkers;
    var mapmarkers;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 51.0486, lng: -114.0708},
            zoom: 5, // default zoom level of the map
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.RIGHT_TOP
            },
            scaleControl: false
        }); // create a google maps object

        gmarkers = {{markers|safe}};
        initMarkers();
        setInterval(function(){updateMarkers()}, 10000)
    }
    function initMarkers() {
        routerImage = { // router icon marker template
            url: '../static/routerIcon.png', // image location in project
            scaledSize: new google.maps.Size(30,30), // scales the image to a size that works
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(15,15) // where the image is anchored
        };
        mapmarkers = []; // this will help to reload markers
        for(var i=0;i<gmarkers.length;i++){
          var latlng = {lat: parseFloat(gmarkers[i].latitude),lng: parseFloat(gmarkers[i].longitude)};
          var marker = new google.maps.Marker({
              position: latlng,
              title: gmarkers[i].name,
              map: map,
              icon: routerImage,
              animation: google.maps.Animation.DROP,
              index: i
          });
          mapmarkers.push(marker);
        }
        for(var i=0;i<mapmarkers.length;i++){
            (function (i) { // anonymous function
                var marker = mapmarkers[i];
                marker.addListener('click', function() {
      							// function to display this marker's relevant info
                    //clearInfo();
      							displayInfo(marker);
    						});
            })(i);
        }
    }
    function clearInfo() {
      document.getElementById("nameField").innerHTML = "";
      document.getElementById("latField").innerHTML = "";
      document.getElementById("lngField").innerHTML = "";
      document.getElementById("linkText").innerHTML = "";
      document.getElementById("linkField").href = "";
    }
    function displayInfo(marker) {
      console.log(marker.index);
      document.getElementById("nameField").innerHTML = gmarkers[marker.index].name; // name
      document.getElementById("latField").innerHTML = "Lat: " + gmarkers[marker.index].latitude.toString(); // lat
      document.getElementById("lngField").innerHTML = "Long: " + gmarkers[marker.index].longitude.toString(); // lng
      document.getElementById("linkText").innerHTML = "Management Link"
      document.getElementById("linkField").href = gmarkers[marker.index].link; // link
    }
    function removeMarkers() {
        setMapOnAll(null);
        mapmarkers = [];
    }

    function setMapOnAll(map) {
      for (var i = 0; i < mapmarkers.length; i++) {
        mapmarkers[i].setMap(map);
      }
    }

    function updateMarkers() {
      console.log("updating...");
      $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        $.getJSON($SCRIPT_ROOT+"/_query_db",
          function(data) {
            removeMarkers();
            gmarkers = data;
            initMarkers();
          });
    }
  </script>
  <script name="async_init" src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap" async defer>
  </script>
{% endblock %}
