{% extends "base.html" %}

{% block mapscripts %}
  <script name="map_init"> // this is the script for the map
    var map;
    var gmarkers;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 51.0486, lng: -114.0708},
            zoom: 5, // default zoom level of the map
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.RIGHT_TOP
            },
            scaleControl: false
        }); // create a google maps object

        gmarkers = {{markers|safe}};
        initMarkers();
    }
    function initMarkers() {
        routerImage = { // router icon marker template
            url: '../static/routerIcon.png', // image location in project
            scaledSize: new google.maps.Size(30,30), // scales the image to a size that works
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(15,15) // where the image is anchored
        };
        for(var i=0;i<gmarkers.length;i++){
            var latlng = {lat: parseFloat(gmarkers[i].latitude),lng: parseFloat(gmarkers[i].longitude)};
            var marker = new google.maps.Marker({
                position: latlng,
                title: gmarkers[i].name,
                map: map,
                icon: routerImage,
                animation: google.maps.Animation.DROP
            });
            var index = i; // ****may need to see if there are issues when we have many DB entries
            marker.addListener('click', function() {
  							// function to display this marker's relevant info
                // is ran later, so must pass the value of the index beforehand
  							displayInfo(index);
						});
        }
    }
    function displayInfo(i) {
      document.getElementById("nameField").innerHTML = gmarkers[i].name; // name
      document.getElementById("latField").innerHTML = "Lat: " + gmarkers[i].latitude.toString(); // lat
      document.getElementById("lngField").innerHTML = "Long: " + gmarkers[i].longitude.toString(); // lng
      document.getElementById("linkText").innerHTML = "Management Link"
      document.getElementById("linkField").href = gmarkers[i].link; // link
    }
  </script>
  <script name="async_init" src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap" async defer>
  </script>
{% endblock %}
